.stack-module {
  width: 100%;
  position: relative;
  background-image: url(../../images/module_texture.jpg);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  padding: 0px 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 4px rgba(0, 0, 0, 0.65); }
  .stack-module .bypassFx {
    position: absolute;
    right: 135px;
    top: 19px;
    z-index: 10; }
  .stack-module .ui-controls {
    padding: 50px 0 0 0; }
  .stack-module .module-name {
    float: left;
    font-family: Audiowide;
    line-height: 50px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9); }
  .stack-module .remove {
    color: white;
    position: absolute;
    right: 80px;
    top: -5px;
    font-size: 28px; }
  .stack-module .handle {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  .stack-module .ui-component {
    float: left;
    padding: 5px 10px;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .stack-module .ui-component .slider-tooltip {
      position: absolute;
      padding: 5px;
      top: -35px;
      font-size: 10px;
      z-index: 100;
      background-color: #323232;
      border: 1px solid white;
      opacity: 0;
      -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }
    .stack-module .ui-component .slider-input {
      position: absolute;
      padding: 5px;
      width: 25px;
      height: 15px;
      top: 0px;
      font-size: 10px;
      z-index: 100;
      background-color: #323232;
      border: 1px solid white;
      color: white; }
    .stack-module .ui-component .ui-name {
      font-family: Audiowide;
      color: white;
      text-align: left;
      margin: 5px 0 0 0;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9); }
    .stack-module .ui-component .ui-select > select {
      width: 100%; }
    .stack-module .ui-component .ui-meter > div {
      position: relative;
      height: 15px;
      overflow: hidden; }
      .stack-module .ui-component .ui-meter > div .meter-led {
        position: absolute;
        width: 3.125%;
        background-color: yellow; }
      .stack-module .ui-component .ui-meter > div .meter {
        left: -100%;
        -webkit-transition: all 0.025s linear;
        -moz-transition: all 0.025s linear;
        -ms-transition: all 0.025s linear;
        -o-transition: all 0.025s linear;
        transition: all 0.025s linear; }
    .stack-module .ui-component .ui-meter > div > canvas,
    .stack-module .ui-component .ui-meter > div > div {
      width: 100%;
      height: 15px;
      position: absolute; }
    .stack-module .ui-component .ui-meter > div > div {
      z-index: 20; }
    .stack-module .ui-component .ui-meter > div > canvas {
      z-index: 10; }
    .stack-module .ui-component .ui-reduction {
      width: 100%; }
      .stack-module .ui-component .ui-reduction div {
        position: relative;
        overflow: hidden;
        height: 40px; }
        .stack-module .ui-component .ui-reduction div canvas,
        .stack-module .ui-component .ui-reduction div div {
          position: absolute;
          width: 100%;
          height: 40px; }
        .stack-module .ui-component .ui-reduction div .counter {
          line-height: 40px;
          margin: 0 0 0 5px; }
        .stack-module .ui-component .ui-reduction div canvas {
          z-index: 10; }
        .stack-module .ui-component .ui-reduction div div {
          z-index: 20; }
    .stack-module .ui-component .ui-spectrum {
      position: relative; }
    .stack-module .ui-component .ui-spectrum > canvas {
      width: 100%;
      height: 200px; }
    .stack-module .ui-component .ui-spectrum > div {
      width: 100%;
      height: 200px;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0; }
    .stack-module .ui-component .ui-waveform-static div > canvas,
    .stack-module .ui-component .ui-waveform-static div > .frosted-glass {
      width: 100%;
      position: absolute;
      height: 150px; }
    .stack-module .ui-component .ui-waveform-static div {
      position: relative;
      height: 150px; }
    .stack-module .ui-component .ui-waveform-static .waveform-status {
      position: absolute;
      line-height: 150px;
      margin: 0 0 0 10px;
      font-family: "Audiowide", Arial, sans-serif;
      color: "#DBDBDB" !important;
      opacity: 0.5; }
    .stack-module .ui-component .ui-indicator {
      width: 25px;
      height: 25px;
      position: relative; }
      .stack-module .ui-component .ui-indicator canvas, .stack-module .ui-component .ui-indicator div {
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        border-radius: 25px;
        position: absolute;
        width: 100%;
        height: 100%; }
  .stack-module .active-toggle {
    position: absolute;
    right: 60px;
    top: 6px;
    z-index: 10; }
  .stack-module .ui-component:last-child {
    margin-bottom: 15px; }

.power-switch {
  width: 29px;
  height: 35px;
  background-size: 60px 35px;
  background-image: url(../../images/power_switch.png);
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.power-switch.on {
  background-position: 29px 0; }

.power-switch.off {
  background-position: 0 0; }

.stack-module.collapsed {
  height: 50px; }

.module-menu {
  position: absolute;
  right: 98px;
  top: 14px;
  height: 30px;
  width: 25px;
  z-index: 10; }
  .module-menu div {
    width: 100%;
    height: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
    background-color: white; }
  .module-menu select {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 25px;
    height: 30px;
    min-width: 30px;
    opacity: 0; }

.arrow-box {
  position: relative;
  z-index: 10;
  height: 50px;
  float: left;
  padding: 0 5px; }

.arrow-box.collapsed > div {
  border: solid transparent;
  height: 0;
  width: 0;
  position: relative;
  top: 16px;
  pointer-events: none;
  border-color: rgba(213, 213, 213, 0);
  border-left-color: #d5d5d5;
  border-width: 8px; }

.arrow-box.uncollapsed > div {
  border: solid transparent;
  height: 0;
  width: 0;
  position: relative;
  top: 20px;
  right: 3px;
  pointer-events: none;
  border-color: rgba(213, 213, 213, 0);
  border-top-color: #d5d5d5;
  border-width: 8px; }

.ui-checkbox {
  text-align: right; }
  .ui-checkbox .ui-name {
    display: inline-block;
    margin: 0 5px 0 0 !important; }
  .ui-checkbox input {
    display: inline-block; }

.ui-disable-class {
  opacity: 0.5 !important; }

.ui-slider-handle {
  width: 45px !important;
  height: 25px !important;
  cursor: pointer !important;
  background: url(../../images/fader.png) no-repeat !important;
  background-size: 45px 25px !important;
  outline: none !important;
  -webkit-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.5); }

.ui-slider {
  background: url(../../images/slider_track.jpg) !important;
  border-style: solid !important;
  border-color: #333333 #333333 #777777 #333333 !important;
  border-width: 1px !important;
  height: 12px;
  position: relative;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, 0.5), 0 1px 0 0px rgba(250, 250, 250, 0.5);
  -moz-box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, 0.5), 0 1px 0 0px rgba(250, 250, 250, 0.5);
  -ms-box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, 0.5), 0 1px 0 0px rgba(250, 250, 250, 0.5);
  -o-box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, 0.5), 0 1px 0 0px rgba(250, 250, 250, 0.5);
  box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, 0.5), 0 1px 0 0px rgba(250, 250, 250, 0.5); }

.ui-slider-horizontal .ui-slider-range {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background-image: -webkit-linear-gradient(bottom, white 100%, #646464 0%);
  background-image: -moz-linear-gradient(bottom, white 100%, #646464 0%);
  background-image: -ms-linear-gradient(bottom, white 100%, #646464 0%);
  background-image: -o-linear-gradient(bottom, white 100%, #646464 0%);
  background-image: linear-gradient(bottom, white 100%, #646464 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, white), color-stop(0, #c8c8c8)); }

.ui-slider-horizontal .ui-slider-handle {
  top: -0.38em; }

.ui-slider-handle.ui-state-focus,
.ui-slider-handle.ui-state-default {
  border: none !important; }

.ui-button {
  margin: 10px 0; }

.ui-button > input[type=button] {
  width: 100%;
  -webkit-box-shadow: 0px 2px 0px #505050, 0px 6px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 0px #505050, 0px 6px 25px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 2px 0px #505050, 0px 6px 25px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 2px 0px #505050, 0px 6px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 0px #505050, 0px 6px 25px rgba(0, 0, 0, 0.7);
  background-image: -webkit-linear-gradient(top, #ededed 0%, #dfdfdf 100%);
  background-image: -moz-linear-gradient(top, #ededed 0%, #dfdfdf 100%);
  background-image: -ms-linear-gradient(top, #ededed 0%, #dfdfdf 100%);
  background-image: -o-linear-gradient(top, #ededed 0%, #dfdfdf 100%);
  background-image: linear-gradient(top, #ededed 0%, #dfdfdf 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  color: #282828;
  text-decoration: none;
  display: block;
  padding: 4px;
  text-align: center;
  -webkit-transition: all 0.05s ease;
  -moz-transition: all 0.05s ease;
  -ms-transition: all 0.05s ease;
  -o-transition: all 0.05s ease;
  transition: all 0.05s ease; }

.ui-button > input[type=button]:active,
.ui-button.pressed > input[type=button],
.ui-button.pressed-red > input[type=button] {
  -webkit-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 1px; }

.ui-button.pressed > input[type=button] {
  -webkit-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(0, 200, 0, 0.4), inset 0 0 50px 0px rgba(0, 200, 0, 0.5);
  -moz-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(0, 200, 0, 0.4), inset 0 0 50px 0px rgba(0, 200, 0, 0.5);
  -ms-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(0, 200, 0, 0.4), inset 0 0 50px 0px rgba(0, 200, 0, 0.5);
  -o-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(0, 200, 0, 0.4), inset 0 0 50px 0px rgba(0, 200, 0, 0.5);
  box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(0, 200, 0, 0.4), inset 0 0 50px 0px rgba(0, 200, 0, 0.5); }

.ui-button.pressed-red > input[type=button] {
  -webkit-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(255, 0, 0, 0.7), inset 0 0 50px 0px rgba(255, 0, 0, 0.7);
  -moz-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(255, 0, 0, 0.7), inset 0 0 50px 0px rgba(255, 0, 0, 0.7);
  -ms-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(255, 0, 0, 0.7), inset 0 0 50px 0px rgba(255, 0, 0, 0.7);
  -o-box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(255, 0, 0, 0.7), inset 0 0 50px 0px rgba(255, 0, 0, 0.7);
  box-shadow: 0px 1px 0px #505050, 0px 3px 6px rgba(0, 0, 0, 0.9), 0 0 30px 5px rgba(255, 0, 0, 0.7), inset 0 0 50px 0px rgba(255, 0, 0, 0.7); }

.int-width-full input[type=button] {
  width: 100%; }

.int-width-half {
  display: inline-block;
  width: 49% !important; }

.export-button {
  display: inline-block;
  width: 25% !important;
  margin: 0 !important;
  padding: 0 10px !important; }
  .export-button .ui-button {
    margin: 2px 0 5px 0; }

.disable-meter {
  opacity: 0.5; }

.waveform-menu,
.waveform-menu div {
  height: inherit !important; }

.waveform-menu {
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px !important; }
  .waveform-menu div > select {
    position: absolute;
    top: 7px;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%; }

.waveform-menu > div {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 7px;
  border-right: 1px solid black;
  text-align: center;
  width: 100px; }
